#head-nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 90px;
    position: sticky;
    top: 0px;
    z-index: 5;
}
*{
    box-sizing: border-box;
}
#head-nav>div:first-child{
    height: 49%;
    background-color: black;    
    margin: auto;
}
#header{
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#header>div:first-child{
    width: 5%;
}
#header>div:nth-child(2){
    height: 100%;
    width: 65%;
}
#header>div:nth-child(3){
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5px;
}
#header>div:nth-child(3)>a{
    width: 20%;
}
#header>div:nth-child(3) img{
    width: 80%;
    border-radius: 50%;
    background-color: white;
}
#header>div:last-child{
    border-left: 1px solid white;
    width: 10%;
    cursor: pointer;
    padding: 0px 10px 0px 0px;
    display: flex;
    justify-content: end;
}
#header>div:last-child img{
    height: 30px;
    background-color: white;
    color: white;
}
#header>div hr{
    height: 5px;
    background-color: white;
    width: 70%;
}
#header>div hr:nth-child(2){
    margin-top: -3px;
    margin-bottom: -3px;
}
#navbar{
    height: 50%;
    display: flex;
    width: 900px;
    margin: auto;
    background-color: white;
}
#navbar>div:first-child{
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    border-right: 1px solid;
}
#navbar :first-child>li{
    list-style: none;
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}
#navbar :first-child>li:hover{
    border-bottom: 3px solid red;
}
* a{
    text-decoration: none;
    color: black;
}
#navbar>div:last-child{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}
#navbar>div:last-child>li{
    list-style: none;
}
#navbar>div:last-child>li:first-child>a{
    background-color: rgb(239, 65, 65);
    color: white;
    padding: 2px;
}
#navbar>div:last-child>li:nth-child(2)>a{
    background-color: blue;
    color: white;
    padding: 2px;
}
body>hr{
    height: 5px;
    background-color: black;
}
